
!.git/*
/bin/
.DS_Store
init/
*.class
*.swp
*.txt
*.log
Reports/
bin/
Libs/
Profiles/*
Profiles/
settings/
.project
.settings
.classpath
.DS_Store
Profiles/default.glbl
Libs/internal/GlobalVariable.groovy
Libs/internal/GlobalVariable.groovy
